/* ################ ESTILIZAÇÕES GLOBAIS ################*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

a {
    all: unset;
}

/* ################ ESTILIZAÇÕES GLOBAIS ################*/

/* ################ ESTILIZAÇÕES DO CABEÇALHO ################*/
header {
    padding: 12px 22px;
    display: flex;
    justify-content: flex-end;
}

header > nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

header > nav > a {
    cursor: pointer;
    color: rgba(0,0,0,.87);
    font-size: 13px;
}

header > nav > a:hover {
    text-decoration: underline;
}

header > nav > #apps {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 100%;
    background-color: transparent;
    cursor: pointer;
    padding: 6px;
    transition: ease 0.2s;
    font-size: small;
}

header > nav > #apps:hover {
    background-color: #EEE;
}

header > nav > #user {
    width: 30px;
    height: 30px;
    background-color: purple;
    border-radius: 100%;
    cursor: pointer;
    border: none;
    color: #FFF;
}

/* ################ ESTILIZAÇÕES DO CABEÇALHO ################*/

/* ################ ESTILIZAÇÕES DA PARTE PRINCIPAL DA PÁGINA ################*/

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 23px;
}

/* ################ ESTILIZAÇÕES DA LOGO DO GOOGLE ################*/

main > img {
    width: 272px; 
    height: 92px;
}

/* ################ ESTILIZAÇÕES DA LOGO DO GOOGLE ################*/

/* ################ ESTILIZAÇÕES DO INPUT ################*/

.search-bar {
    position: relative;
}

.search-bar input {
    width: 584px;
    padding: 15px 90px 15px 37px;
    border-radius: 24px;
    border: 1px solid #ddd;
    z-index: 2;
}

.search-bar input:hover {
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.11);
}

.search-bar input:focus {
    outline: none;
}

#search-icon {
    position: absolute;
    left: 13px;
    top: 50%;
    transform: translate(0, -50%);
    width: 20px;
    height: 20px;
    fill: #9aa0a6;
}

.search-bar .right-icons {
    position: absolute;
    top: 50%;
    right: 18px;
    transform: translate(0, -50%);
    display: flex;
    align-items: center;
    gap: 14px;
}

#microphone-icon {
    width: 32px;
    height: 32px;
    background-image: url("source/microphone-icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

#image-search-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.search-bar > span:nth-child(2) {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translate(0, -50%);
}

/* ################ ESTILIZAÇÕES DO INPUT ################*/

/* ################ ESTILIZAÇÕES DOS BOTÕES ################*/

.buttons {
    display: flex;
}

.buttons button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.buttons button:hover {
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

/* ################ ESTILIZAÇÕES DOS BOTÕES ################*/

/* ################ ESTILIZAÇÕES DO RODAPÉ ################*/

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #70757a;
    background-color: #f2f2f2;
}

footer div {
    display: flex;
    justify-content: space-between;
    height: fit-content;
}

footer p {
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
}

footer ul {
    display: flex;
    padding: 0px 20px;
    list-style-type: none;
}

footer ul li {
    padding: 15px 8px;
}

footer ul li a {
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
}

footer ul li a:hover {
    text-decoration: underline;
}

/* ################ ESTILIZAÇÕES DO RODAPÉ ################*/